.jointitle {
    text-align: center;
}

.cancle, .join {
    text-align: center;
    width: 100px;
    border: none;
    height: 30px;
    
}
.main {
    margin: auto;
}
.field{
   width: 400px;
   margin: auto;
}
.jointable {
    padding-left: 0px;
    text-align: center;
}
.jointh {
    background-color: darkgrey;
    font-weight: bold;
}
.jointr {
    line-height: 25px;
    border-style: initial;
}
.foot {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.cancle {
    background-color: grey;
}
.join {
    background-color: blue;
    color: white;
}
